{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-undef": "off",
    "react/display-name": "off",
    "no-console": "off",
    "no-unused-vars": "off",
    "react/prop-types": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}