@value colors: '../styles/colors.module.css';
@value scourasBlue, darkFont from colors;

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 80px;
  max-height: 80px; */
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
  max-width: 1260px;
}

.headerH1 {
  margin: 0;
  font-weight:300;
}

.logoLink,
.logoLink:visited {
  white-space: nowrap;
  color: darkFont;
  transition: all 200ms ease-in;
}

.logoLink:hover {
  color: scourasBlue;
}

@media (max-width: 800px) {
  .flex {
    align-items: center;
  }
  .logoLink {
    font-size: 1.75rem;
  }
}