@value colors: '../styles/colors.module.css';
@value scourasBlue, darkFont, lightFont from colors;

.container {
  margin-top: 80px;
  background-image: url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.flex { 
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background: darkFont;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    width: 960px;
    height: 100%;
}

.textHome {
    color: lightFont;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}