@value colors: '../styles/colors.module.css';
@value scourasBlue, darkFont, lightFont from colors;

.container {
  margin-top: 90px;
  background-image: url('https://raw.githubusercontent.com/cscouras/scouras-consulting/b7d4f0b7f948cd6ac0d43308e742405483fcc7a8/src/layouts/hero.jpg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.flex { 
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background: darkFont;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    width: 960px;
    height: 100%;
}

.textHome {
    color: lightFont;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
