@value colors: '../styles/colors.module.css';
@value scourasBlue, darkFont from colors;

.mobilenav {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.mobilenav a {
    text-decoration: none;
    padding: 1rem;
}


@media(min-width:960px){
    .mobilenav{
        display:none;
    }
}