@value colors: '../styles/colors.module.css';
@value scourasBlue, darkFont from colors;

.navLinks {
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin: 0;
  }
  
  .link {
    color: darkFont;
    background: none;
    text-decoration: none;
    transition: all 200ms ease-in-out;
  }
  
  .link:hover {
    color: scourasBlue;
    border-bottom: 0.25rem solid scourasBlue;
  }
  
  .link:visited {
    color: darkFont;
  }
  
  .hamburger {
    display: none;
    position: relative;
    padding: 1rem;
    justify-content: flex-end;
  }
  
  .hamburger span,
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    background: darkFont;
    height: 2px;
    width: 1.5rem;
    position: relative;
    border-radius: 10px;
  }
  
  .hamburger span::before,
  .hamburger span::after {
    content: '';
    position: absolute;
  }
  
  .hamburger span::before {
    bottom: 7px;
  }
  
  .hamburger span::after {
    top: 7px;
  }
  
  @media (max-width: 960px) {
    .navLinks {
      font-size: 1rem;
      width: 50%;
    }
  
    .navLinks {
      width: 10%;
    }
    .navLinks li {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  