@value colors: '../styles/colors.module.css';
@value scourasBlue, darkFont, lightFont from colors;

ul {
    margin-left: 4.5rem;
    padding-bottom: 1.5rem;
}
.mainContent {
    margin: 90px auto 0;
    width: 100%;
    max-width: 960px;
    min-width: 400px;
    padding: 0 1rem 1rem 1rem;
}

h3 > a, p > a {
    color: darkFont;
    background: rgba(187,239,253,0.3);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

h3 > a:hover, p > a:hover{
    background: rgba(187,239,253,0.9);
}


a:visited {
   color: darkFont;
}

th {
    background: darkFont;
    color: lightFont;
}

tr:nth-child(even){
    background: rgba(0,0,0,0.3);
}

@media(max-width: 600px) {
    td {
        border: 1px dashed black;
        margin-right: 0rem;
    }
}
@media(max-width:400px){
    .mainContent {
        margin-left: .25rem;
    }

}