h1, ul, li {
    margin: 0;
    padding: 0;
}

.container {
  background: white;
  margin-bottom: 1.45rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}



.navLinks {
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0.25rem 0 0 0;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}

.navItem > a{
    color: rgba(0,0,0,0.8);
    background: none;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.navItem > a:hover {
    color: red;
    border-bottom: 0.25rem solid red;
}

.navItem:visited {
    color: rgba(0,0,0,0.8);
}
